@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, svg, video, canvas {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

:root {
  --color-default: #212529;
  --color-primary: #188efe;
  --color-secondary: #dff0ff;
  --color-tertiary: #e9ecef;
  --color-quaternary: #0077e6;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  color: var(--color-default);
}